/* Standaard styling erafhalen */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

/* Definieer globale variabelen */
:root {
  --primary-color: #0071a5;
  --primary-color-lighten: #0087c5;
  --primary-color-lighten-2: #e1f5ff;
  --secondary-color: rgb(255, 255, 255);
  --header-height: 230px;
}

/* nth-of-type variabele zodat ik hier mee kan rekenen */
:nth-of-type(1) { --nth-of-type: 1 }
:nth-of-type(2) { --nth-of-type: 2 }
:nth-of-type(3) { --nth-of-type: 3 }
:nth-of-type(4) { --nth-of-type: 4 }
:nth-of-type(5) { --nth-of-type: 5 }
:nth-of-type(6) { --nth-of-type: 6 }
:nth-of-type(7) { --nth-of-type: 7 }
:nth-of-type(8) { --nth-of-type: 8 }
:nth-of-type(9) { --nth-of-type: 9 }
:nth-of-type(10) { --nth-of-type: 10 }

/*

  START: Styling standaard elementen

*/

body {
  background-color: var(--secondary-color);
  overflow: hidden;
  overflow-y: auto;
  max-width: 1920px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quattrocento', serif;
}

p {
  font-family: sans-serif;
  font-family: 'Quattrocento', serif;
  font-weight: bold;
}

main {
  position: relative;
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  max-width: 1920px;
  /* Gradient zorgt voor de schaduw over de categorieën */
  background-image:
    linear-gradient(
      transparent,
      transparent 80%,
      var(--primary-color-lighten) 100%
    );
}

input[type=radio] {
  position: absolute;
  opacity: 0;
  top: 0;
}

/*

  END: Styling standaard elementen

*/

/*

  START: Headerstyling 'Russ & Daughters'

*/

body > header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em;
  background-color: var(--primary-color);  
  color: var(--secondary-color);
  background-image:
    conic-gradient(
      var(--primary-color),
      var(--primary-color-lighten) 20%
    );
  background-size: 2em 2em;
  background-position: center center;
}

body > header h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/*

  END: Headerstyling 'Russ & Daughters'

*/

/*

  START: Menu categorieën: Noshes, Boards, Platters, Eggs, Soup, Salads & Sweet

*/

main > section {
  width: clamp(100px, calc(100vw / 7), calc(1920px / 7));
  height: var(--header-height);
}

/* De even sections krijgen een andere kleur */
main > section:nth-of-type(even) article,
main > section:nth-of-type(even) header {
  filter: hue-rotate(60deg);
}

main > section header {
  --border-width: 1rem;
  width: 100%;
  height: 100%;
  color: var(--primary-color);
  transform-style: preserve-3d;
  cursor: pointer;
  padding: 2rem;
  transition: .3s;
  border-bottom: var(--border-width) solid var(--primary-color);
}

header h2 {
  margin-bottom: 1rem;
  text-transform: capitalize;
}

/* Header achtergronden */
main > section header:hover,
main > input:checked + section label header {
  background-color: var(--primary-color);
  background-image:
    radial-gradient(
      ellipse at center,
      var(--primary-color-lighten),
      var(--primary-color-lighten) 50%,
      transparent 50% 100%
    );
  background-size: 5em 5em;
  background-position: center center;
  color: var(--secondary-color);
}

main > section:nth-of-type(4) label header {
  background-size: 5em 7em !important;
}

/* Noshes categorie */
main > section:nth-of-type(1) header:hover,
main > input:checked + section:nth-of-type(1) label header {
  background-size: 3em 3em !important;
}

/* Soup categorie */
main > section:nth-of-type(5) header:hover,
main > input:checked + section:nth-of-type(5) label header {
  background-image:
    radial-gradient(
      ellipse at center,
      var(--primary-color-lighten),
      var(--primary-color-lighten) 50%,
      transparent 50% 100%
    ),
    radial-gradient(
      ellipse at center,
      var(--primary-color-lighten),
      var(--primary-color-lighten) 50%,
      transparent 50% 100%
    ),
    linear-gradient(
      var(--primary-color-lighten),
      var(--primary-color-lighten) 50%,
      transparent 50% 100%
    );
  background-size: 15rem 15rem, 3rem 5rem, 0.5rem 16rem;
  background-position: -0.5rem center, 12.5rem 10%, 13.8rem -100%;
  background-repeat: no-repeat;
}

/* Sweet categorie */
main > section:nth-of-type(7) header:hover,
main > input:checked + section:nth-of-type(7) label header {
  --circle-size: 6rem;
  background-image:
    radial-gradient(
      ellipse at center,
      var(--primary-color-lighten),
      var(--primary-color-lighten) 50%,
      transparent 50% 100%
    ),
    radial-gradient(
      ellipse at center,
      var(--primary-color-lighten),
      var(--primary-color-lighten) 50%,
      transparent 50% 100%
    ),
    radial-gradient(
      ellipse at center,
      var(--primary-color-lighten),
      var(--primary-color-lighten) 50%,
      transparent 50% 100%
    ),
    linear-gradient(
      var(--primary-color-lighten),
      var(--primary-color-lighten) 50%,
      transparent 50% 100%    
    );
  background-size: 
    var(--circle-size) var(--circle-size),
    var(--circle-size) var(--circle-size),
    var(--circle-size) var(--circle-size),
    calc(var(--circle-size) / 5 * 4) calc(var(--circle-size) / 5 * 8);
  background-position: 
    calc(var(--circle-size) / 5 * 3) calc(var(--circle-size) / 5 * 3),
    calc(var(--circle-size) / 5 * 6) calc(var(--circle-size) / 5 * 3),
    calc(var(--circle-size) / 5 * 4.5) calc(var(--circle-size) / 5),
    calc(var(--circle-size) / 5 * 5) calc(var(--circle-size) / 5 * 6);
  background-repeat: no-repeat;
}

/*

  END: Menu categorieën: Noshes, Boards, Platters, Eggs, Soup, Salads & Sweet

*/

/*

  START: Styling items per categorie

*/

main > section article {
  --border-width: 1rem;
  width: 50%;
  height: var(--header-height);
  backface-visibility: hidden;
  transform: rotateY(180deg);
  transition: .5s;
  padding: 2rem;
  position: absolute;
  top: calc((var(--nth-of-type) / 2) * var(--header-height) + var(--header-height) / 2);
  opacity: 0;
  z-index: 10;
  left: 0;
  border-right: var(--border-width) solid var(--primary-color);
  border-bottom: var(--border-width) solid var(--primary-color);
}

main > section article div {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  color: var(--primary-color-lighten-2);
  display: inline-block;
}

main > section article div::before {
  content: '€'
}

main > section article div::after {
  content: ',-'
}

main > section article:nth-of-type(even) {
  left: 50%;
  top: calc((var(--nth-of-type) / 2) * var(--header-height));
  border: 0px;
  border-bottom: var(--border-width) solid var(--primary-color);
}

/*

  END: Styling items per categorie

*/

/*

  START: Menu items die nu geselecteerd staan
  * Items staan absoluut gepositioneerd
  * Input (radio) zorgt ervoor dat de juiste items weergeven worden (opacity)

*/

main > input:checked + section label ~ article {
  opacity: 1;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  backface-visibility: hidden;
  transform: rotateY(0);
  transition-delay: calc((var(--nth-of-type)) * .03s);
}

/* https://stackoverflow.com/questions/28110057/using-css-nth-child-to-select-irregular-pattern-in-sequence */
main > input:checked + section label ~ article:nth-of-type(4n + 1),
main > input:checked + section label ~ article:nth-of-type(4n) {
  background-color: var(--primary-color-lighten-2);
  color: var(--primary-color);
}

main > input + section label ~ article h3 {
  text-decoration: underline;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

main > input + section label ~ article p::first-letter {
  font-size: 1.3em;
  text-transform: capitalize;
}

main > input:checked + section label ~ article p {
  line-height: 2rem;
  max-width: 40rem;
}

/*

  END: Menu items die nu geselecteerd staan
  * Items staan absoluut gepositioneerd
  * Input (radio) zorgt ervoor dat de juiste items weergeven worden (opacity)

*/


/* Media query die ervoor zorgt dat het scherm zich aanpast aan systeeminstellingen: dark/light mode */
@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #141414;
    --primary-color-lighten: #202020;
    --primary-color-lighten-2: #8b8b8b;
    --secondary-color: rgb(170, 170, 170);
  }
}

@media (prefers-reduced-motion) {
  main > section article,
  main > section header {
    transition: 0s !important;
  }
}

/*

  START: Menu breakpoints / responsiveness

*/

@media(min-width: 1921px) {
  main {
    border: 2px solid var(--primary-color);
    border-top: 0;
    border-bottom: 0;
  }
  main > section {
    width: clamp(100px, calc(100vw / 7), calc(1916px / 7));
  }
  main > section article {
    border-left: var(--border-width) solid var(--primary-color);
  }
  main > section article:nth-of-type(even) {
    border-right: var(--border-width) solid var(--primary-color);
  }
}

@media(max-width: 1630px) {
  main > section {
    width: 25vw;
  }

  /*  Zorg ervoor dat de laatste 3 items samen 100vw innemen */
  main > section:nth-of-type(n + 5) {
    width: calc(100vw / 3);
  }

  /* Alle menu items 1 tikje omlaag omdat de categorieën dat ook zijn gegaan */
  main > section article {
    top: calc((var(--nth-of-type) / 2) * var(--header-height) + var(--header-height) * 1.5);
  }
  main > section article:nth-of-type(even) {
    top: calc((var(--nth-of-type) / 2) * var(--header-height) + var(--header-height));
  }
}

@media(max-width: 767px) {
  /* Layout van categorieën wordt hier helemaal aangepast, steeds 2 op 1 rij */
  main > section {
    width: 50vw !important;
    height: 70px;
  }

  /* 
    Extra content naast de categorienaam wordt verborgen,
    niet display:none want dan is het niet meer leesbaar voor screenreaders
  */
  main > section header p,
  main > section header blockquote  {
    max-height: 0;
    overflow: hidden;
  }

  /* Het actieve item wordt compleet zichtbaar en komt onderaan te staan */
  main > input:checked + section header p,
  main > input:checked + section header blockquote  {
    max-height: unset;
    overflow: visible;
  }
  main > input:checked + section {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    height: 230px;
    width: 100vw !important;
    order: 100;
  }

  /* Alle menu items omlaag omdat het menu hoger wordt */
  main > section article {
    top: calc((var(--nth-of-type) - 2) * var(--header-height) + var(--header-height) * 3) !important;
    left: 0 !important;
    width: 100vw;
    border-right: 0px;
  }
  
  main > input:checked + section label ~ article:nth-of-type(odd) {
    background-color: unset;
  }
  
  main > input:checked + section label ~ article:nth-of-type(even) {
    background-color: var(--primary-color-lighten-2);
    color: var(--primary-color);
  }
}

/*

  END: Menu breakpoints / responsiveness

*/

/*
*
*   Parallax scrolling in CSS: https://www.digitalocean.com/community/tutorials/css-pure-css-parallax
*
*   Interesting read about non-rectangular layouts: https://www.sarasoueidan.com/blog/css-shapes/
*
*   More about layouts that include shapes: https://www.smashingmagazine.com/2019/04/art-direction-for-the-web-using-css-shapes/
* 
*   How to make shapes in CSS: https://itnext.io/how-to-create-beautiful-shapes-in-css-a-teardown-of-3-shapes-purely-made-in-css-c3ac7cb99c4
*
*   Connecting blobs by Sanne: https://www.sinds1971.nl/cssvoordedames/9-mixen.html
*
*   Take a look at: Vmin Vmax
*
*   Parallax Sanne: https://codepen.io/shooft/pen/BaLYpQQ -- https://codepen.io/shooft/pen/RwGQKKP -- https://www.sinds1971.nl/fed/parallax/index.html (advanced)
*
*/